{% extends "../base.html" %}

{% block title %}{{sitename}} - {{ original_name }}{% endblock %}

{% block bodymore %}{% endblock %}

{% block content %}

<div id="info" class="dinfo info-flex">
    <div id="filename">
        {{ original_name }}
    </div>

    <div class="info-actions">
        {% if expiry %}
        <span>file expires in {{ expiry }}</span> |
        {% endif %}
        {% block infomore %}{% endblock %}
        <span>{{ size }}</span> |
        <a id="curl" href="#">curl</a> |
        <a id="download" href="{{ sitepath }}{{ selifpath }}{{ filename }}" download>get</a>
        {% if keyless_delete %}
        | <a id="delete" href="#">delete</a>
        {% endif %}
    </div>

    {% block infoleft %}{% endblock %}
</div>

<div id="main" {% block mainmore %}{% endblock %}>

    <div id='inner_content' {% block innercontentmore %}{% endblock %}>
        {% block main %}{% endblock %}
    </div>

</div>

<script src="{{ sitepath }}static/js/util.js?v=4"></script>
{% endblock %}
