{% extends "base.html" %}

{% block head %}
{{ block.Super|safe }}
<meta property="og:type" content="video.other" />
<meta property="og:video" content="{{ siteurl }}{{ sitepath }}{{ selifpath }}{{ filename }}" />
<meta property="og:video:type" content="{{ mime }}" />
{% endblock %}

{% block main %}
<video class="display-video" controls autoplay>
    <source src="{{ sitepath }}{{ selifpath }}{{ filename }}" />
    <a href='{{ sitepath }}{{ selifpath }}{{ filename }}'>Download it instead</a>
</video>
{% endblock %}